[tasks.test]
description = "Run tests"
depends = ["python:setup"]
run = """
#!/usr/bin/env bash
for d in ibidem/advent_of_code/*; do
  if [[ -d "${d}" ]]; then
    echo Running tests in "${d}"
    poetry run pytest "${d}"
  fi
done
"""

[tasks.test-year]
description = "Run tests for a given year"
depends = ["python:setup"]
usage = """
arg "<year>" help="Year to run tests for"
"""
run = """
poetry run pytest "ibidem/advent_of_code/y${usage_year?}"
"""

[tasks.fmt]
depends = ["python:fmt"]
description = "Format source"

[tasks.fmt-check]
depends = ["python:fmt-check"]
description = "Check formatting"

[tasks.lint]
depends = ["python:lint"]
description = "Lint the project"

[tasks.lint-fix]
depends = ["python:lint-fix"]
description = "Run lint fixers"

[tasks.ci]
depends = ["test", "fmt-check", "lint"]
description = "Run CI tasks"

[tasks.build]
depends = ["python:build"]
description = "Build the project in debug mode"

[tasks.release-build]
depends = ["python:release-build"]
description = "Build the project"

[task_config]
includes = [".config/mise-lib/virtual_tasks.toml", ".config/mise-lib"]

[tools]
poetry = "latest"
